.card {
    .cardContainer {
        width: 100% !important;

        .image {
            display: flex !important;
            align-items: center;
            justify-content: center;
            height: 275px;
            background: transparent !important;
            
            img {
                width: 40% !important;
    
            }
        }
    }


    > div:hover {
        background-color: turquoise !important;
    }
}
