.login {
    .column {
        width: 50% !important;
        margin-top: 10rem;

        button {
            width: 100%;
            background-color: turquoise;
            color: black;
        }
    }
}